
{% extends "main.html" %}
{% block content %}
<div>
<form action="#" method = "post">
    <label for="name">Name:</label>
    <input type ="text" name="title">
    <br/>
    <label for="description">description</label>
    <input type ="text" name="description" >
    
    <br/>
    <label for="catagory">catagory</label>

    <select name="catagory_id" >
        {% for category in categories %}
            <option value="{{category.id}}"
                {% if category.id == selected_id %}
                selected
                {% endif %}
                >
                
                
                {{category.name}}</option>
        {% endfor %}
    </select>

    <br/>


    <button type="submit" >submit</button>

</form>
</div>

{% endblock %}