{% extends "main.html" %}
{% block content %}


<div class="container-right">
    <h1>
        catagories
    </h1>
    <!-- listing catagories -->
    {% for category in categories %}

        <div class="row">
                
                <a class="links" href = "{{url_for('showCatItems', category_name = category.name)}}">
                    {{category.name}}
                </a>
                
        </div>
    </a>
    {% endfor %}
</div>

<div {% if not_user %} 
    style="visibility: hidden;"
     {% endif %}   >
    <h1>recents</h1>
    {%for item in log %}
        <div class="row">
            <a class="links" href="{{url_for('showItemDetail',item_title =item.title,category_name='None')}}">
                {{item.title}}
            </a>
            <span style="opacity: 0.5;">( {{item.category.name}} )</span>
        </div>
    {% endfor %}

</div>

{% endblock %}