{% extends "main.html" %}
{% block content %}


<div class="container-right">
    <h1>
        catagories
    </h1>
    <!-- listing catagories -->
    {% for category in categories %}

        <div class="row">
                
                <a class="links" href = "{{url_for('showCatItems', category_name = category.name)}}">
                    <h3>{{category.name}}</h3>
                </a>
                
        </div>
    </a>
    {% endfor %}
</div>
<div>
    <h1>recents</h1>
</div>

{% endblock %}