{% extends "main.html" %}
{% block content %}


<div class="container-right">
    <h1>
        catagories
    </h1>
    <!-- listing catagories -->
    {% for category in categories %}

        <div class="row">
                
                <a class="links" href = "{{url_for('showCatItems', category_name = category.name)}}">
                    <h3>{{category.name}}</h3>
                </a>
                
        </div>
    </a>
    {% endfor %}
</div>
<div>
    <h1>recents</h1>
    {%for item in log %}
        <div class="row">
            <a class="links" href="{{url_for('showItemDetail',item_title =item.title,category_name='None')}}">
                <h3>{{item.title}} and {{item.category.name}}</h3>
            </a>
        </div>
    {% endfor %}

</div>

{% endblock %}