{% extends "main.html" %}
{% block content %}


<div class="container-right">

    <div class="row">
    <h3>{{catItem.title}}</h3>
    <p>
        {{catItem.description}}
    </p>
        <div {% if not_owner %} 
        style="visibility: hidden;"
        {% endif %} >
        <a class="links" href = "{{url_for('editItem', item_title = catItem.title)}}">
            edit
        </a>
        <span style="margin-left:10px;margin-right: 10px">|</span>
        <a class="links" href="{{url_for('deleteItem', item_title = catItem.title)}}">
            delete
        </a>
        </div>
    </div>
        

</div>

{% endblock %}