{% with messages = get_flashed_messages() %}
{% if messages %}
    
  <ul>
  {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
  {% endfor %}
  </ul>
  {% endif %}
{% endwith %}

<a href = "{{url_for('addItem', category_name = category.name)}}">
        <p>new</p>
    </a>            

{% for item in catItems %}

    <div class="row">
            <a href = "{{url_for('showItemDetail', category_name = category.name,item_title = item.title)}}">
                <h3>{{item.title}}</h3>
            </a>
    </div>
</a>
{% endfor %}