{% extends "main.html" %}
{% block content %}

<div class="container-right">
        <h1>
            catagories
        </h1>
        <!-- listing catagories -->
        {% for _category in categories %}
    
            <div class="row">
                    
                    <a class="links" href = "{{url_for('showCatItems', category_name = _category.name)}}">
                        {{_category.name}}
                    </a>
                    
            </div>
        </a>
        {% endfor %}
</div>

<div>
    <div {% if not_user %} 
            style="visibility: hidden;"
            {% endif %}>
        <a class="links" href = "{{url_for('addItem', category_name = category.name)}}">
            <p>add item</p>
        </a> 
    </div>           
    <h2> <span style="opacity: .7;">({{count}})</span> items in {{category.name}}</h2>
    {% for item in catItems %}
        <div class="row">
                <a class="links" href = "{{url_for('showItemDetail', category_name = category.name,item_title = item.title)}}">
                    {{item.title}}
                </a>
        </div>
    {% endfor %}
</div>
{% endblock %}