
{% extends "main.html" %}
{% block content %}

<div>
<form action="#" method = "post">
    <label for="name">Name:</label>
    <input type ="text" name="title" placeholder="{{catItem.title}}">
    <br/>
    <label for="description">description</label>
    <br/>
    <textarea rows="4" cols="50" type ="text" name="description">{{catItem.description}}</textarea>
    <br/>
    <label for="catagory">catagory</label>

    <select name="catagory_id" >
        {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
    </select>

    <br/>


    <button type="submit" >submit</button>

</form>
</div>

{% endblock %}