
<div class="header">
	<div class="item_left">
		<a href="{{url_for('showCategories')}}">
			<span class="title white" >Catalog App</span>
		</a>
	</div>
	<div class="item_right ">
		<div> {% if not_user %}
				<a href="{{url_for('showLogin')}}">
				<button class="auoth_btn">
				<span class="white" >login</span>
				</button> 
				</a>
			{% else %}
			<div>
				<a href="{{url_for('disconnect')}}">
					<button class="auoth_btn">
					<span class="white" >logout</span>
					</button>
				</a>
				<span style="color: aliceblue">{{login_session['username']}}</span>	
			</div>		
			{% endif %} 
					
		</div>
	</div>
</div>
